<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>All Contacts</h1>
    </div>
  </div>
</div>

<div class="list-group col-sm-10 col-sm-offset-1">
  <% Contact.all.each do |contact| %>
    <form action="/contacts/<%= contact.id %>">
      <button type="submit" class="list-group-item"><%= contact.first_name %> <%= contact.last_name %></button>
    </form>
  <% end %>
</div>
